.wrapper {
  padding-top: 150px;
}

.section-1 {
  padding-bottom: 40px;
}

.title {
  max-width: 560px;
  width: 100%;
  color: var(--color-primary);
  font-size: 3.6rem;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

.section-2 {
}
